body {
  font-family: "Varela", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 13px;
}

ul {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
}
li a:hover {
  background-color: #111;
}

.navbar-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  max-height: 45px;
}

.navbar-top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  height: 100%;
}

.navbar-top img {
  max-height: 35px;
  margin: 5px 8px;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 750px 1fr;
  grid-template-rows: 117px 117px 117px 117px 117px 117px 117px 117px 117px;
  height: 1010px;
}

.grid-container div img {
  border-radius: 3px;
}

.grid-container .item .column-flex h2 {
  animation: none;
  font-size: 1.5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.grid-container .item .column-flex p {
  animation: none;
  font-size: 1em;
}

.grid-container .item .column-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  animation: none;
  width: 100%;
  flex-wrap: wrap;
}

.grid-container .item {
  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 5px;
  border: 0.5px solid grey;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 8px 6px -6px black;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container .item:hover {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.item1 {
  grid-row: 1 / 5;
  width: 100%;
  height: 500px;
  /* background: linear-gradient(
      to bottom right,
      rgba(0, 47, 75, 0.9),
      rgba(220, 66, 37, 0.9)
    ),
    url("main-photo.jpg");
  background-size: cover; */
  font-family: "Raleway", sans-serif;
  color: white;

  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;

  border-radius: 5px;
}

.front.fed {
  z-index: 5;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom right,
      rgba(0, 47, 75, 0.9),
      rgba(220, 66, 37, 0.9)
    ),
    url("main-photo.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
}

.back.fed {
  z-index: 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom right,
      rgba(0, 47, 75, 0.9),
      rgba(220, 66, 37, 0.9)
    ),
    url("federer-fierce.jpg");
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
}

.front.kei {
  z-index: 5;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom left,
      rgba(189, 195, 199, 0.9),
      rgba(44, 62, 80, 0.9)
    ),
    url("kei-nishikori.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
}

.back.kei {
  z-index: 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom left,
      rgba(189, 195, 199, 0.9),
      rgba(44, 62, 80, 0.9)
    ),
    url("kei-fistbump.jpg");
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.8s ease;
}

.back {
  transform: rotateY(180deg);
}
.item1:hover .front,
.item2:hover .front {
  transform: rotateY(-180deg);
}
.item1:hover .back,
.item2:hover .back {
  transform: rotateY(0deg);
}

.item1,
.item2 {
  perspective: 75rem;
}

.item1 h1 {
  font-size: 2em;
  letter-spacing: 0.25px;
}

.item2 {
  grid-row: 5 / 10;
  width: 100%;
  height: 500px;

  font-family: "Raleway", sans-serif;
  color: white;

  position: relative;
  justify-content: center;
  align-items: center;

  display: flex;

  border-radius: 5px;
}

.item2 h1 {
  font-size: 2em;
  letter-spacing: 0.25px;
}

.grid-container div {
  display: flex;
}

.grid-container div img {
  max-width: 150px;
}

footer {
  margin-top: 3px;
  width: 100%;
  background: #2c4c3b;
  text-align: center;
  color: #ffffff;
  min-height: 50px;
}
footer p {
  padding-top: 10px;
}

.header-div {
  height: 100px;
  color: white;
  background: #2c4c3b;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

::selection {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
