.skip a {
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  /*Your code here*/
  position: absolute;
  top: -40px;
}
.skip a:focus {
  top: 0px;
  border: 2px solid #000000;
}

body {
  font-family: "Varela", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 13px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}

ul {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
}
li a:hover {
  background-color: #111;
}

.navbar-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  max-height: 45px;
}

.navbar-top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  height: 100%;
}

.navbar-top img {
  max-height: 35px;
  margin: 5px 8px;
}

footer {
  margin-top: 3px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2c4c3b;
  text-align: center;
  color: #ffffff;
  min-height: 50px;
}
footer p {
  padding-top: 10px;
}

::selection {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

/* END OF THE STUFF THAT'S NEEDED FOR EACH PAGE */

/* BEGIN PARAGRAPH CONTENT */
h1 {
  font-size: 2.5em;
  text-align: center;
}
h1 + p {
  font-size: 1.5em;
  text-align: center;
}

.paragraph-header {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

  color: white;
  background: #2c4c3b;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  width: 100%;
}
/* END PARAGRAPH CONTENT */

/*SLIDERS*/
.slider {
  width: 100%;
  height: 50px;
  background: #d3d3d3;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #d3d3d3;

  background: url("tennis-emoji.png");

  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border: 0;
  cursor: pointer;
}

.sliderwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.justifycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: 225px 225px 225px;

  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.biggersliderwrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraph-header {
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0 5px 5px -5px grey;

  background: linear-gradient(to right, #ccffe4, #ccffe4);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 1s 0s;
}

.item:hover {
  background-size: 100% 100%;
}

.item > img {
  width: 75%;
  height: 75%;
  object-fit: scale-down;
}

.rangedesc {
  font-weight: bold;
  font-size: 1.5em;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

@media only screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 225px 225px 225px 225px 225px 225px 225px 225px 225px;
  }

  .navbar-top {
    background-color: #333;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-top > li {
    width: 100%;
  }
  .navbar-top img {
    height: 50px;
    width: 35px;
    margin: 5px 8px;
  }

  .grid-container {
    margin: 0px;
  }

  .justifycontainer > p {
    font-size: 1em;
  }

  .paragraph-header {
    font-size: 0.5em;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 225px 225px 225px 225px 225px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .item {
    background: transparent;
  }
}
