html {
  min-height: 100%;
}

body {
  font-family: "Varela", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 13px;
  min-height: 100%;
  position: relative;
}

.navbar-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  max-height: 45px;
}

.navbar-top img {
  max-height: 35px;
  margin: 5px 8px;
}

nav {
  width: 100%;
}

/*explore flex */
.explore-flex {
  color: rgb(225, 226, 223);
  display: flex;
  /* border: 2px solid green; */
  justify-content: space-around;
  height: 250px;

  background-color: #306844;
  background-image: linear-gradient(314deg, #306844 0%, #2c4c3b 74%);
}

.explore-flex-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.explore-flex-image:hover {
  transform: scale(1.1);
  transition: 1.5s;
}

.explore-flex-item {
  text-align: left;
  width: 340px;
  height: 175px;
  padding-top: 20px;
  /* border: 2px solid green; */
}

.explore-flex-item p {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 550;
}

.explore {
  font-weight: normal;
  text-align: center;
  color: white;
  font-size: 3em;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #306844;
  background-image: linear-gradient(314deg, #306844 0%, #2c4c3b 74%);
}

.navbar-top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  height: 100%;
}

h1 {
  font-size: 0.75em;
}

ul {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.cover-photo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 625px;
  /* color: white; */
  font-size: 3.5em;

  background-color: black;
  background: url("cover-photo-home.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-photo > h1 {
  color: white;
  background-color: transparent;
  text-align: center;
  font-size: ;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.cover-photo-home {
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -5;
}

.register-button {
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Varela", sans-serif;
  background-color: #35776b;
  color: white;
  border: none;
  border-radius: 2em;
  transition: all 0.2s;
  height: 75px;
  width: 150px;
}

.register-button:hover {
  background-color: #63d471;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #2c4c3b;
  text-align: center;
  color: #ffffff;
  min-height: 50px;
}

footer p {
  padding-top: 10px;
}

::selection {
  background: #fff2ac; /* WebKit/Blink Browsers */
}

@media screen and (max-width: 1000px) {
  .navbar-top {
    background-color: #333;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-top > li {
    width: 100%;
  }
  .navbar-top img {
    height: 50px;
    width: 35px;
    margin: 5px 8px;
  }
  .explore-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
  }
}

@media (prefers-reduced-motion: reduce) {
}
